<div class="medium-10 medium-offset-1  columns">
    <div id="container" >
    </br>
        <div class="row">
          <div class="medium-2 columns">
            <select ng-model="numberOfValuesToFetch" 
                  ng-options="o.name for o in numberOfValuesToFetchOptions" ng-change="numberOfValuesToFetchChanged()">
            </select>
          </div>
          <div class="medium-1 columns left">
            <input ng-model="valuesToFetch" 
                        ng-disabled="numberOfValuesToFetch.name === 'All data'" type="text" placeholder="" />
          </div>

           <div class="medium-1 columns left" style="position:relative;top:5px;left:-15px;">
              Values
           </div>
        </div>
        <div class="row">
          <div class="medium-2 columns">
            <select ng-model="aggregation" 
                ng-options="o.name for o in aggregationOptions" ng-change="aggregationChanged()">
            </select>
          </div>
                 
          <div class="medium-1 columns left">
            <input ng-model="aggregationPeriod" 
                  ng-disabled="aggregation.name === 'No aggregation'" type="text" placeholder="" />
          </div>
                  
          <div class="medium-2 columns left">
              <select ng-model="aggregationUnit" ng-disabled="aggregation.name === 'No aggregation'"
                      ng-options="o.name for o in aggregationUnitOptions" ng-change="aggregationUnitChanged()">
              </select>
          </div>
        </div>

        <div class ="row">
          <div class="medium-2 columns">
            <a ng-click="addOutput()" class="button [radius round]">Add output</a>
          </div>
        </div>
        
        <div class="row" ng-repeat="dataOutput in dataOutputRows">
            <div class="medium-2 columns">
              <select ng-model="selectedSensor[$index]" 
                      ng-options="o.name for o in dataOutput" ng-change="sensorSelected($index)">
              </select>
            </div>
            <div class="medium-2 columns left">
              <select ng-model="selectedField[$index]" 
                  ng-options="o for o in selectedSensor[$index].structureFields" ng-change="">
              </select>
            </div>
            <div class="medium-1 columns left" >
              <a ng-click="removeOutput($index)" 
                        class="alert round left button tiny secondary" ng-show = "dataOutputRows.length > 1 "><strong>X</strong></a>
            </div>
        </div>

        <div class="row">
            <div class="medium-1 columns" style="position:relative;top:5px;">
              From
            </div>
            <div class="medium-3 columns left" style="position:relative;left:-50px;">
              <quick-datepicker ng-model='from' placeholder="Select Date" on-change="fromChanged()"></quick-datepicker>
            </div>

            <div class="medium-1 columns" style="position:relative;top:5px;left:-190px">
              Until
            </div>
            <div class="medium-3 columns left" style="position:relative;left:-250px;">
              <quick-datepicker ng-model='until' placeholder="Select Date" on-change="untilChanged()"></quick-datepicker>
            </div>
        </div>
        <br/>
        <div class="row">      
          <div class="medium-2 columns">
              <a ng-click="addCondition()" class="button [radius round]">Add condition</a>
          </div>
        </div>      

        <div class="row" ng-repeat="conditionRow in conditionRows">
                  
          <div class="medium-1 columns" ng-show="$index != 0">
            <select ng-model="selectedConditionJoin[$index]" 
                  ng-options="o.name for o in conditionJoins" ng-change="">
            </select>
          </div>

          <div class="medium-2 columns left">
            <select ng-model="selectedConditionSensor[$index]" 
                ng-options="o.name for o in conditionRow" ng-change="sensorConditionSelected($index)">
            </select>
          </div>
                  
          <div class="medium-2 columns left">
            <select ng-model="selectedConditionField[$index]" 
                  ng-options="o for o in selectedConditionSensor[$index].structureFields" ng-change="">
            </select>
          </div>

          <div class="medium-1 columns left" style="position:relative;top:5px;left:-10px;">
            Between
          </div>

          <div class="medium-1 columns left"  style="position:relative;left:-35px;">
              <input ng-model="selectedConditionMinValue[$index]" 
                      type="text" placeholder="" />
          </div>
                  
          <div class="medium-1 columns left" style="position:relative;top:5px;left:-47px;">
              and
          </div>

          <div class="medium-1 columns left" style="position:relative;left:-105px;">
              <input ng-model="selectedConditionMaxValue[$index]" 
                      type="text" placeholder="" />
          </div>

          <div class="medium-1 columns left" style="position:relative;left:-105px;">
                    <a ng-click="removeCondition($index)" 
                        class="alert round left button tiny secondary" ng-show = "conditionRows.length > 1 "><strong>X</strong></a>
          </div>
        </div>

        <div class = "row">
          <div class="medium-10 columns" >

        <dl class="tabs" ng-init="selectedTab = 1" ng-model="selectedTab" data-tab>
          <dd ng-class = "{'active' : selectedTab == 1 }" ><a ng-click="selectedTab = 1" >Download</a></dd>
          <dd ng-class = "{'active' : selectedTab == 2 }"><a ng-click="selectedTab = 2;fetchData();">Plot</a></dd>
          <dd ng-class = "{'active' : selectedTab == 3 }"><a ng-click="selectedTab = 3;fetchData();" >Table</a></dd>
         </dl>
        
        <div class="tabs-content">
          <div class="content" ng-class = "{'active' : selectedTab == 1 }">
              <div class="row">
                <div class="medium-2 columns" >
                  <a ng-click="downloadReport('csv')" 
                            class="alert round left button tiny secondary">Download CSV</a>
                </div>
                <div class="medium-2 columns left" style="position:relative;left:-20px;">
                      <a ng-click="downloadReport('xml')" 
                        class="alert round left button tiny secondary">Download XML</a>
                </div>
                <div class="medium-2 columns left" style="position:relative;left:-30px;">
                      <a ng-click="downloadReport('pdf')" 
                        class="alert round left button tiny secondary">Generate PDF</a>
                </div>
                <div class="medium-2 columns left" style="position:relative;left:-50px;">
                      <a ng-click="downloadReport('jpeg')" 
                        class="alert round left button tiny secondary">Generate JPEG</a>
                </div>
                <div class="medium-2 columns left" style="position:relative;top:5px;left:-60px;">
                    Time format
                </div>
                <div class="medium-2 columns left" style="position:relative;left:-120px;">
                  <select ng-model="timeFormat" 
                        ng-options="o.name for o in timeFormatOptions" ng-change="timeFormatChanged()">
                  </select>
                </div>
              </div>
          </div>
          <div class="content" ng-class = "{'active' : selectedTab == 2 }">
            <div ng-controller = "ChartController">
              <div class="row">
                <div class="medium-2 columns left" style="position:relative;left:0px;">
                  Virtual sensor:
                  <select ng-model="selectedChart" 
                          ng-options="o.name for o in results" ng-change="showResulChart()">
                  </select>
                </div>
                <div class="medium-2 columns left" style="position:relative;left:0px;">
                  Chart type:
                  <select ng-model="selectedChartType" ng-options="selectedChartType for selectedChartType in chartTypes" ng-change="seriesTypeChange(selectedChartType)"></select>
                </div><!--
                <div class="medium-2 columns left" style="position:relative;left:0px;">
                  <a ng-click="reconfigChart()" class="button [radius round]">Reconfig</a>
                </div>-->            
              </div>
              <div>
                <highchart id="chartdiv" config="chartConfig" style="width: 1400px; height: 400px;"> </highchart>
              </div>
            </div>
          </div>
          <div class="content" ng-class = "{'active' : selectedTab == 3 }">
              <div class="row">
                  <div class="medium-2 columns left">
                    <select ng-model="selectedTable" 
                              ng-options="o.name for o in results" ng-change="showResulTable()">
                    </select>
                  </div>
                </div>  
              <div class="gridStyle" ng-grid="gridOptions"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>      
