 <div class="medium-10 medium-offset-1 columns">
	
	<div id="container" >
		
		<div class="row">	
			<div class="medium-7 columns left">
				<h1>GSN::{{info.name}}</h1>
	        
	            <div id="msg">
	                <p>Welcome to Global Sensor Networks. The first ten sensors are displayed by default, but you can easily close them with the
	                <em>close all</em> button. By clicking on a virtual sensors on the left sidebar, it will bring it to the top of the list.</p>
	            </div>
	            <p>Auto-refresh every :</p>

	            <div class="medium-2 columns left">
	             
			            <select ng-model="interval" 
			            			ng-options="o.name for o in intervalOptions" ng-change="setRefreshInterval()">
			            </select>
			    </div>        


			    <div class="medium-5 columns left">
			            <input ng-click="refreshClicked()" type="button" value="refresh" class="button tiny radius" />
		                <input type="button" value="close all" class="button tiny radius alert" />
		                <span class="refreshing" ng-show="updating">
		                    <img src="images/ajax-loader.gif" alt="loading" title="" />
		                </span>
		        </div>


			     <div class="row">
			     	<div class="medium-12 medium-offset-1  columns">
	            	 	<div id="virtuals-sensors">
		                    
		                    <div ng-show="updating">
		                        <div class="loading">Virtual sensors are currently loading...</div>
		                        <br />
		                    </div>

		                    <div class="row">
		                      <div class="medium-12 columns">
			                    

			                    <div class="panel radius vs-box" ng-repeat="sensor in sensors" ng-show="sensor.visible" >
			                     	<a ng-click="sensor.visible = false" class="alert round right button tiny secondary"><strong>X</strong></a>
								        <h4>
											<strong>
									            <span class="vsname">{{sensor.name}}</span>
											</strong>
								            <small><span class="timed" ng-show="updating">Loading...</span></small>
								        </h4>
								   		
								       	                     	  
					                   <dl ng-init="selectedTab[$index-1] = 1" ng-model="selectedTab[$index-1]" class="tabs" data-tab>
										
											<dd ng-class = "{'active' : selectedTab[$index-1] == 1 }">
												<a ng-click=" selectedTab[$index-1]  = 1" >Real time</a>
											</dd>
											<dd ng-class = "{'active' : selectedTab[$index-1]  == 2 }">
												<a ng-click=" selectedTab[$index-1]  = 2">Description</a>
											</dd>
											<dd ng-class = "{'active' : selectedTab[$index-1]  == 3 }">
												<a ng-click=" selectedTab[$index-1]  = 3">Structure</a>
											</dd>
											<dd ng-class = "{'active' : selectedTab[$index-1]  == 4 }">
												<a ng-click=" selectedTab[$index-1]  = 4">frok</a>
											</dd>
									   </dl>
									   <div class="tabs-content">
											  <div class="content" ng-class = "{'active' : selectedTab[$index-1]  == 1 }">
											    <p ng-repeat="field in sensor.structureFields">{{field}} : {{sensor.fields[field].value}} </p>
											  </div>
											  <div class="content" ng-class = "{'active' : selectedTab[$index-1]  == 2 }">
											    <p>{{sensor.description}}</p>
											  </div>
											  <div class="content" ng-class = "{'active' : selectedTab[$index-1]  == 3 }">
											    <p ng-repeat = "field in sensor.structureFields">{{field}}:{{sensor.fields[field].type}} </p>
											  </div>
											  <div class="content" ng-class = "{'active' : selectedTab[$index-1]  == 4 }">
											    <p>Fourth panel content goes here...</p>
											  </div>
										</div>
									</div>
								</div>
							</div>
		                </div>
		            </div>
	            

	            </div>  
			         
            </div>


			<div id="sidebar" class="medium-3 columns right">
                <h3>Description</h3>
                <p id="gsn-desc">{{info.description}}</p>
                <h3>Author</h3>
                <p id="gsn-author">{{info.author}}</p>
                <h3>Virtual sensors</h3>
                    <ul id="vsmenu">
                        <li><a href="#">not loaded</a>
                        </li>
                    </ul>
                    <p>
                        <input class="hidden" id="toggleallmarkers" type="button" value="Show/hide all markers" />
                    </p>
            </div>
	              
        </div>
	</div>
</div>