<div class="medium-10 medium-offset-1 columns">	
	<div id="container" >	
		<div class="row">	
			<div class="medium-8 columns">
				<h1>IP Camera Control</h1>
				<br/>
				<dl ng-init="selectedTab = 1" ng-model="selectedTab" class="tabs" data-tab>						
					<dd ng-class = "{'active' : selectedTab == 1 }">
						<a ng-click=" selectedTab  = 1;" >Status</a>
					</dd>
					<dd ng-class = "{'active' : selectedTab  == 2 }">
						<a ng-click="selectedTab  = 2;">Config</a>
					</dd>							
				</dl>
				<div class="tabs-content">
					<div class="content" ng-class = "{'active' : selectedTab  == 1 }" style="position:relative;left:200px;">
						<img id="cameraStream" src="/ipcamera/status" />
						<br /><br />
						<div class="row">
							<img src="/images/arrow-up.png" width="50" 
										height="50" style="position:relative;left:310px;" ng-click="move(0,1);">
						</div>
						<div class="row">
							<img src="/images/arrow-left.png" width="50" 
									height="50" style="position:relative;left:230px;" ng-click="move(-1,0);">
							<img src="/images/arrow-right.png" width="50" 
									height="50" style="position:relative;left:335px;" ng-click="move(1,0);">
						</div>
						<div class="row">
							<img src="/images/arrow-down.png" width="50" 
									height="50" style="position:relative;left:310px;" ng-click="move(0,-1);">
						</div>
						<div class="row">
							<fieldset>
	    						<legend>Absolute position</legend>
					  			<div class="row">
					  				<div class="medium-8 columns left">
								  	 	<div class="medium-3 columns">
				          					<label for="x" class="right inline">X</label>
				        				</div>
				        				<div class="medium-2 columns left">
				          					<input type="text" id="x" placeholder="" ng-model="x">
				        				</div>
				        			</div>
				        		</div>
				        		<div class="row">
					  				<div class="medium-8 columns left">
								  	 	<div class="medium-3 columns">
				          					<label for="x" class="right inline">Y</label>
				        				</div>
				        				<div class="medium-2 columns left">
				          					<input type="text" id="x" placeholder="" ng-model="y">
				        				</div>
				        			</div>
				        		</div>
			        			<div class="row">
		        					<div class="medium-8 columns left">
		        						<div class="medium-2 columns">
		        							<a class="button" ng-click="setPosition();" style="position:relative;left:123px;">Set</a>
					        			</div>
					        			<div class="medium-2 columns" style="position:relative; top:10px; left:-300px;">
					        				<img id="spinner-position" ng-src="images/ajax-loader.gif" style="display:none;">
					        			</div>
		        					</div>
        						</div>
			        		</fieldset>
						</div>
					</div>
					<div class="content" ng-class = "{'active' : selectedTab  == 2 }">
						<div class="row" ng-show="showStatus === true">
							<div class="medium-8 columns left" >
								<div data-alert class="alert-box success radius">
  									{{updateStatus}}
  									<a class="close" ng-click="showStatus=false;">&times;</a>
								</div>
							</div>
						</div>

						<div class="row" ng-show="showError === true">
							<div class="medium-8 columns left" >
								<div data-alert class="alert-box alert round">
  									{{errorMessage}}
  									<a class="close" ng-click="showError=false;">&times;</a>
								</div>
							</div>
						</div>

						<fieldset>
	    					<legend>Connection params</legend>
				  			<div class="row">
				  				<div class="medium-8 columns left">
							  	 	<div class="medium-3 columns">
			          					<label for="ipaddress" class="right inline">IP Address</label>
			        				</div>
			        				<div class="medium-5 columns left">
			          					<input type="text" id="ipaddress" placeholder="" ng-model="config['ip-address']">
			        				</div>
			        			</div>
			        		</div>
			        		<div class="row">
				  				<div class="medium-8 columns left">
							  	 	<div class="medium-3 columns">
			          					<label for="port" class="right inline">Port</label>
			        				</div>
			        				<div class="medium-4 columns left">
			          					<input type="text" id="port" placeholder="" ng-model="config.port">
			        				</div>
			        			</div>
			        		</div>
			        		<div class="row">
				  				<div class="medium-8 columns left">
							  	 	<div class="medium-3 columns">
			          					<label for="profile" class="right inline">Profile</label>
			        				</div>
			        				<div class="medium-2 columns left">
			          					<input type="text" id="profile" placeholder="" ng-model="config.profile">
			        				</div>
			        			</div>
			        		</div>
			        		<div class="row">
				  				<div class="medium-8 columns left">
							  	 	<div class="medium-3 columns">
			          					<label for="username" class="right inline">Username</label>
			        				</div>
			        				<div class="medium-5 columns left">
			          					<input type="text" id="username" placeholder="" ng-model="config.username">
			        				</div>
			        			</div>
			        		</div>
			        		<div class="row">
				  				<div class="medium-8 columns left">
							  	 	<div class="medium-3 columns">
			          					<label for="password" class="right inline">Password</label>
			        				</div>
			        				<div class="medium-5 columns left">
			          					<input type="password" id="password" placeholder="" ng-model="config.password">
			        				</div>
			        			</div>
			        		</div>
			        	</fieldset>
			        	<div class="row">
        					<div class="medium-8 columns left">
        						<div class="medium-2 columns">
        							<a class="button" ng-click="updateConfig();">Save</a>
			        			</div>
			        			<div class="medium-2 columns" style="position:relative; top:10px; left:-300px;">
			        				<img id="spinner" ng-src="images/ajax-loader.gif" style="display:none;">
			        			</div>
        					</div>
        				</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>