<div class="medium-12 columns">
	<div id="container" class="row" >
		
		<div class="medium-8 columns">
			<google-map center="map.center" zoom="map.zoom"  draggable='true'>
				<markers models="map.sensors" coords="'self'" labelContent="'title'"
								labelAnchor="22 0" labelClass="marker-labels"></markers>
			</google-map>
		</div>
		
		<div class="panel medium-4 right">
    		
         	<div class="row">
			    <div class="medium-4 columns">
			    	<label ng-repeat="sensor in map.sensors">
  
					<input
					    type="checkbox"
					    name="selectedSensors[]"
					    value="{{sensor.title}}"
					    ng-model="sensor.selected"> {{sensor.title}}
					</label>
		  </div>
		</div>
	</div>
<div>